numpy
pandas
tensorflow 
matplotlib
seaborn
nltk
regex
scikit-learn
from-root
google-cloud-storage
fastapi 
uvicorn 
Jinja2 
setuptools
transformers
ollama
chromadb
streamlit 
pdfplumber 
langchain
langchain-core
langchain-community
langchain_text_splitters
unstructured
unstructured[all-docs]
onnx==1.17.0

#- e .